exportPattern("^[[:alpha:]]+")

importFrom(BSgenome,getBSgenome)
importFrom(rtracklayer,import)
importFrom(TFBSTools,getMatrixSet)
importFrom(TFBSTools,PFMatrixList)
importFrom(TFBSTools,PFMatrix)
importFrom(R.utils,gunzip)
importFrom(motifmatchr,matchMotifs)
